name: Yearly expenses reminder alt
on:
  workflow_dispatch:
  schedule:
    - cron: '21 17 * * *'

jobs:
  issue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/ISSUE_TEMPLATE/test_issue.md