name: Yearly expenses reminder
on:
  schedule:
    - cron: 30 15 23 1 *

jobs:
  create_issue:
    name: Create reminder issue
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create reminder issue
        run: |
            gh issue create \
            --title "$TITLE" \
            --assignee "$ASSIGNEES" \
            --label "$LABELS" \
            --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TITLE: New financial year - handbook update checklist
          ASSIGNEES: 
          LABELS: 
          BODY: |
            ### New financial year - handbook update checklist:

            - [ ] Create new FY directory in HoRSE/Finances
            - [ ] Create new expenses spreadsheet
            - [ ] Update `expenses.qmd` to use the new urls for the spreadsheet and FY directory
            - [ ] Protect prevous years sheet (and warn user if modifiying?)

          PINNED: false
          CLOSE_PREVIOUS: false
